extends ../layout

block content
    h1.
        #{title}
    form#formAddUsergroup(name="addusergroup",method="post",action="/usergroups")
        p Name: 
            input#inputName(type="text", placeholder="ex. John Smith", name="name")

        p
            button#btnSubmit(type="submit") submit