extends ../layout

block content
    h1.
        User ID #{user._id}
    form(action='/users/#{user._id}/edit',method='post',name='updateusers',enctype='application/x-www-form-urlencoded')
        p Name: 
            input#inputName(type='text', value='#{user.name}', name='name')
        p Password: 
            input#inputPassword(type='text', value='', name='password')
        p 
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit')
                Update